body{
    background-color: #f8f9fa;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
.imagecollage{
    height: 300px;
}
.hola{
    background-color: red;
}
.hola3{
    background-color: green;
}